/**/
#comeco:focus{
  outline: 0;
}

*{
  font-family: 'Pacifico', cursive;
}

html{
  background-color: rgb(163, 190, 240);
  
}

.container{
 background-color: rgb(163, 190, 240);
 
}

#calcular
{
  background: #eeaeca;
  color: white;
  height: 40px;
  margin-bottom: 10px;
}

#resertar
{
  background: lightblue;
  color: white;
  height: 40px;
}

input
{
  display:block;
  position:relative;
  float:right;
  width: 190px;
  height: 80%;
  
}

#Resultado,#nivelAtividade,#idade,#altura,#peso,#sexo{
  border-radius: 20px
}
#calcular,#resertar{
  border-radius: 20px;
}

h1{
  text-align: center;
}
